*{
    margin: 0%;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav_bar{
    background-color: black;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navlogo{
    height: 50px;
    width: 100px;   
}

.logo{
    background-image: url(Images/amazon_logo.png);
    height: 40px;
    background-size: cover;
    
}
.border{
    border: 1.5px solid transparent;
    
}
.border:hover{
    border: 1.5px solid white;   
}
.location{
    font-size: 0.85rem;
    color: #CCCCCC;
    margin-left:15px
}
.destination{
    margin-left: 3px;
    font-size: 1rem;
}
.icon_address{
    display: flex;  
}

.nav_search{
    display:flex;
    justify-content: space-evenly;
    background-color: rgb(235, 139, 13);
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.nav_search:hover{
    border: 3px solid orange;
}
.select_option{
    background-color: rgb(220, 242, 245);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}

.search_bar{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search_icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: black;
}

span{
    font-size: 0.7rem;
}
.nav_para{
    font-size: 0.85rem;
    font-weight: 700;
}
.nav_order{
    font-size: 0.85rem;
    font-weight: 700;
}
.nav_cart i{
    font-size: 31px;
}

.nav_cart{
    font-size: 0.85rem;
    font-weight: 700;
}

.panel{
    background-color: #222f3d;
    color: white;
    display: flex;
    height: 2rem;
    align-items: center;
    justify-content: space-evenly;
}

.Options p{
    display: inline;
    margin-left: 15px;
    font-weight: 700;
}

.Options {
    width: 90%;
    font-size: 0.85rem;
    
}

.hero_section{
    background-image: url(Images/hero_image.jpg);
    height: 380px;background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero_message{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}

.hero_message a{
    color: #007185;
}

.box{
    height: 100px;
    border: 2px solid;
}
